html {
    &:not(.dark) .bard-editor .bard-content span[data-light-color] {
        text-shadow: 1px 1px 3px rgb(0 0 0 / .7);
    }

    &.dark .bard-editor .bard-content span[data-dark-color] {
        text-shadow: 0 0 3px rgb(255 255 255 / .7);
    }
}

.ndx-text-color {
    width: 14rem;
    padding: .5rem .25rem;

    .ndx-text-color-swatches {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: .75rem;
        padding: .5rem .75rem;
        max-height: 13rem;
        overflow: auto;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            border: 1px solid rgb(221 227 233);
            border-radius: .25rem;
            cursor: pointer;

            svg {
                width: 50%;
                height: 50%;
                background: rgb(0 0 0 / .1);
                border-radius: 100%;
                padding: .2rem;
            }
        }
    }

    .ndx-text-color-input {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: .5rem .75rem;

        .input-text {
            display: flex;
            height: 2.5rem;
            padding: 0;
            margin: 0;

            input[type="color"] {
                cursor: pointer;
                width: 100%;
                height: 100%;
                padding: 0 2px;
                background: transparent;
            }

            button.ndx-text-color-reset {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.75rem;
                padding: 0 .25rem 0 0;
                margin: 0;
                flex-shrink: 0;
                cursor: pointer;
                font-size: 21px;
                opacity: .85;

                html:not(.dark) & {
                    color: #73808c;
                }

                &:hover {
                    opacity: 1;
                }

                &[disabled] {
                    opacity: .3;
                    cursor: default;
                }
            }
        }

        .btn-primary {
            min-width: 3rem;
            height: 2.5rem;
            padding: 0 .5rem;
            margin: 0;
        }
    }
}
