html {
    &:not(.dark) .bard-editor .bard-content span[data-light-color] {
        background-color: rgb(115 128 140 / .5);
    }

    &.dark .bard-editor .bard-content span[data-dark-color] {
        background-color: rgb(255 255 255 / .25);
    }
}

.ndx-text-color-trigger {
    padding-inline: .5rem;

    &.active svg {
        color: inherit;
    }
}

.ndx-text-color-panel {
    width: min(320px, 90vw);

    .ndx-text-color-swatches {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: .5rem;
        max-height: 13rem;
        overflow: auto;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.25rem;
            height: 2.25rem;
            border: 1px solid #dde3e9;
            border-radius: 100%;
            cursor: pointer;

            svg {
                width: 1.5rem;
                height: 1.5rem;
                padding: .25rem;
                border-radius: 100%;
                background: rgb(0 0 0 / .1);
                color: #fff;
            }

            &.ndx-text-color-swatch-reset {
                background-image: repeating-linear-gradient(-45deg, var(--color-white, #fff) 0 8px, var(--color-zinc-100, #eee) 8px 10px);

                &:not(html.dark &) svg {
                    color: var(--color-zinc-700, #222);
                }
            }

            html.dark & {
                border-color: #171717;

                &.ndx-text-color-swatch-reset {
                    background-image: repeating-linear-gradient(-45deg, var(--color-zinc-900, #222) 0 8px, var(--color-zinc-800, #111) 8px 10px);
                }
            }
        }
    }

    .ndx-text-color-form {
        display: flex;
        align-items: center;
        gap: .75rem;

        &:is(.ndx-text-color-swatches + &) {
            margin-top: 1rem;
        }

        .ndx-text-color-input {
            position: relative;
            flex-grow: 1;

            .ndx-text-color-placeholder {
                position: absolute;
                inset: .25rem;
                background-image: repeating-linear-gradient(-45deg, var(--color-white, #fff) 0 12px, var(--color-zinc-100, #eee) 12px 15px);
                pointer-events: none;
                border-radius: .25rem;

                html.dark & {
                    background-image: repeating-linear-gradient(-45deg, var(--color-zinc-900, #222) 0 12px, var(--color-zinc-800, #111) 12px 15px);
                }
            }
        }

        button.ndx-text-color-reset[disabled] {
            pointer-events: none;
            opacity: .5;
        }
    }
}
