name: Build Assets

on:
  push:
    branches:
      - main
    paths:
      - 'resources/**'

jobs:
  build-dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - run: yarn install
      - run: yarn run prod
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: build dist assets
          file_pattern: 'dist/*'
