name: Coding Standards

on: [push, pull_request]

jobs:
  cs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: none
      - uses: actions/setup-node@v3
        with:
          node-version: '22.x'
      - run: composer install --no-interaction --prefer-dist --optimize-autoloader
      - run: composer run phpcs
      - run: yarn install
      - run: yarn run lint
